# Set default behaviour to automatically normalize line endings.
* text=lf
*.sh text eol=lf
* text eol=f
*.sol linguist-language=Solidity

   
/.yarn/releases/** binary
/.yarn/plugins/** binary
git-hash export-subst
security.txt ident
LAST_COMMIT export-subst
date*.txt filter=dater
CODENOTIFY linguist-language=CODEOWNERS
dpack lockable
